<form [formGroup] = "emailform">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName = "email"/>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput  type="password" formControlName = "password" />
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" (click) = "onSubmitForm()" class="b1">
        S'inscrire
      </button>Vous avez un compte ?
      <button mat-raised-button color="primary" type="submit" routerLink = "/auth/login">
        Se connecter
      </button>
</form>