<div class="face-snap-form-container">
    <mat-card class="form-card">
      <mat-card-title>Créer un FaceSnap</mat-card-title>
      <mat-card-content>
        <form [formGroup]="formulaire">
          <!-- Titre -->
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Titre</mat-label>
            <input matInput placeholder="Titre du FaceSnap" formControlName = "title"/>
          </mat-form-field>
  
          <!-- Description -->
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Description du FaceSnap"
              rows="3"
              formControlName = "description"
            ></textarea>
          </mat-form-field>
  
          <!-- Sélection de l'image -->
          <div class="form-field">
            <label for="imageUpload">Image :</label>
            <input
              type="file"
              accept="image/*"
              id="imageUpload"
              formControlName = "imageUrl"
              
            />
          </div>
  
          <!-- Lieu -->
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Lieu</mat-label>
            <input matInput placeholder="Lieu du FaceSnap" formControlName="location" />
          </mat-form-field>
  
          <!-- Bouton de soumission -->
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" (click) = "onCreer()">Créer</button>
            <button mat-stroked-button color="warn" type="reset">Annuler</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  