.facesnap-list {
    display: flex;
    flex-wrap: wrap;               /* Permet le retour à la ligne si l'écran est trop étroit */
    gap: 16px;                     /* Espace horizontal/vertical entre les cartes */
    justify-content: space-between;
  }
  
   /* Chaque carte prend 33.333% (1/3) de la largeur, en laissant un petit espace pour le gap */
  .facesnap-list app-facesnaplist {
    flex: 0 0 calc(33.333% - 16px);
    box-sizing: border-box;        /* Important pour prendre en compte les bordures/padding */
  }
  
 