nav {
  background-color: rgb(169, 169, 167);
  height: 50px;
  margin-bottom: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  margin: 50px;
  color: black;
  font-weight: bold;
}
.active {
  text-decoration: underline;
  color: rgb(154, 154, 255);
}
