<h2>Nouveau FaceSnap</h2>

<app-listfacesnaps2></app-listfacesnaps2>

<!--
  <form [formGroup]="snapForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="titre">Titre :</label>
    <input type="text" id="titre" formControlName="title" />
  </div>

  <div class="form-group">
    <label for="description">Description :</label>
    <textarea
      formControlName="description"
      id="description"
      cols="30"
      rows="10"
    ></textarea>
  </div>

  <div class="form-group">
    <label>ImageUrl :</label>
    <input
      type="file"
      accept="image/*"
      id="imageUrl"
      formControlName="imageUrl"
      (change)="onSelect($event)"
    />
  </div>

  <div class="form-group">
    <label for="location">Location :</label>
    <input type="text" id="location" formControlName="location" />
  </div>
  <button type="submit" [disabled]="snapForm.invalid">Enregistrer</button>
</form>

-->
<!-- 
<div *ngIf="imgUrl">
  <img [src]="imgUrl" alt="" />
</div>
  <div *ngIf="faceSnapPreview$ | async as facesnap">
  <h1>Titre: {{ facesnap.title }}</h1>
  <p>Description: {{ facesnap.description }}</p>
  <h4>
    Date Création: {{ facesnap.createdDate | date : "le dd MMM yyy à HH:mm" }}
  </h4>
  <img [src]="facesnap.imageUrl" [alt]="facesnap.title" />
  <p *ngIf="facesnap.snaps">Snaps: {{ facesnap.snaps }}</p>
  <button [ngStyle]="{ color: 'rgb(0, ' + facesnap.snaps + ',0 )' }">
    Liker
  </button>
</div>

-->
