<div *ngIf="facesnap$ | async as facesnap">
  <h1 [ngClass]="{ active: text_bouton === 'Unliker' }">
    Titre: {{ facesnap.title }}
  </h1>
  <p>Description: {{ facesnap.description }}</p>
  <h4>
    Date Création: {{ facesnap.createdDate | date : "le dd MMM yyy à HH:mm" }}
  </h4>
  <img [src]="facesnap.imageUrl" [alt]="facesnap.title" />
  <p *ngIf="facesnap.snaps">Snaps: {{ facesnap.snaps }}</p>
  <button
    [ngStyle]="{ color: 'rgb(0, ' + facesnap.snaps + ',0 )' }"
    (click)="onSnap()"
  >
    {{ text_bouton }}
  </button>
</div>
